body {
    font-family: Arial, sans-serif;
    text-align: center; /* Centra el contenido en el cuerpo de la página */
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    border-radius: 8px;
    width: 350px;
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}